html {
	font-size: 100%;
}

body {
	margin: 0;

	background-color: #FFF;

	overflow: hidden;
}

.home {
	height: 100vh;

	.container {
		position: absolute;
    top: 20%;
    left: 50%;

    width: 90%;
    margin-left: -45%;

    z-index: -1;

		.image-container {
	    width: 150px;
	    margin-left: auto;
	    margin-right: auto;
	    
	    text-align: center;
		}

		.name-container {
			text-align: center;
		}

		.description-container {
			text-align: center;
		}
	}

	.nav-container {
		z-index: 1;
	}
}