.rotating-images {
	.img-container {
		display: table;
		height: 250px;
    width: 250px;

		.img-element {
			position: relative;
			display: table-cell; 
			vertical-align: middle;
			
			transition: left 1s ease-in;
		}
	}

	@media screen and (max-height: 600px) {
    .img-container {
    	height: @mobile-img-size;
  		width: @mobile-img-size;
    }
	}
}