.rotating-images {
	.img-container {
		position: relative;
		height: 0;
		padding-bottom: 100%;	// square

		.img-element {
			position: absolute;
			top:	0;
			left: 0;
			height: 100%;
			width: 100%;

			transition: left 1s;
		}
	}
}