/* Helpers */
.text-fix {
    margin-top: -1rem;
}

@media (max-width: 800px) {
    .text-fix {
        margin-top: -.5rem;
    }

    .text-fix-lg {
        margin-top: -1rem;
    }

    .text-fix-sm {
        margin-top: -.3rem;
    }
}

.section {
    min-height: 100vh;
}

@media (max-width: 800px) {
    .section {
        min-height: inherit;
        margin-bottom: 10rem;
    }
}

.centered-content {
    display: flex;
    align-items: center;
    justify-content: center;
}

.boxed-content {
    display: inline-block;
    border: 3px solid black;
    background: white;
}

/* CSS */

body, html {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: PhosphatePro-Inline, "Arial";
}

a:link, a:visited, a:hover, a:active {
    color: black;
    text-decoration: none;
}

.site-wrapper {
    background-image: url("/images/background.png");
    background-position: top;
    background-repeat: repeat-y;
    background-size: 100%;
    font-size: 3.5rem;
}

.nav {
    z-index: 10;
    position: absolute;
    top: 0;
    width: 100%;
    text-align: center;
}

@media (max-width: 800px) {
    .nav {
        display: none;
    }
}

.nav .nav-item:hover {
    cursor: pointer;
    text-decoration: underline;
}

.nav-inner {
    display: inline-block;
}

.nav-item {
    padding: 0 2rem;
}

.nav-item:last-child {
    margin-right: 0;
}

.hero {
    position: relative;
    z-index: 5;
}

.hero img {
    max-height: 90vh;
    max-width: 90vw;
}

@media (max-width: 800px) {
    .hero{
        min-height: 100vh;
        text-align: center;
    }

    .hero img {
        max-width: 99vw;
    }
}

.video iframe {
    width: 767px;
    height: 500px;
}

@media (max-width: 800px) {
    .video iframe {
        width: 90%;
        height: 15rem;
    }
}

.host-inner {
    padding: 1.5rem 3rem 2rem;;
}

.host-title {
    margin-bottom: 1rem;
    text-decoration: underline;
}

@media (max-width: 800px) {
    .host {
        font-size: 2rem;
        margin-right: 1rem;
        margin-left: 1rem;
    }
}

.sponsors {
    text-align: center;
}

.sponsor-title {
    position: relative;
    z-index: 10;
    padding: .5rem 2rem;
    text-decoration: underline;
}

.sponsor {
    position: relative;

    z-index: 5;

    width: 30rem;
    height: 30rem;
}

.sponsor-1 {
    top: -1rem;
    left: -10rem;

    background-image: url("/images/sponsor_logo.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.sponsor-2 {
    top: -5rem;
    right: -10rem;

    background-image: url("/images/sponsor_logo.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.sponsor-3 {
    top: -10rem;
    left: -10rem;

    background-image: url("/images/sponsor_logo.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

@media (max-width: 800px) {
    .sponsors {
        font-size: 2rem;
    }

    .sponsor {
        width: 20rem;
        height: 20rem;
    }

    .sponsor-1 {
        top: -1rem;
        left: -1rem;
    }

    .sponsor-2 {
        top: -2rem;
        right: -1rem;
    }

    .sponsor-3 {
        top: -3rem;
        left: -1rem;
    }
}

.info-box {
    padding: 2rem 3rem;
}

.info-date {
    margin-right: 2rem;
}

@media (max-width: 800px) {
    .info {
        display: block;
        margin-right: 1rem;
        margin-left: 1rem;
        font-size: 2rem;
    }

    .info-box:first-child {
        margin-bottom: 2rem;
    }
}

.contact {
    padding-bottom: 5rem;
}

.email {
    padding: 1rem 2rem;
}

.contact .email:hover {
    cursor: pointer;
    text-decoration: underline;
}

@media (max-width: 800px) {
    .contact {
        font-size: 1.5rem;
    }
}
